* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

$color-primary: #2DD0CF;
$color-secondary: #2A2341;
$color-text: #232027;
$color-support-1: #F0F1F6;
$color-support-2: #ACACAE;

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0 3%;
  border: 1px solid black;
}

header {
  .menu-desktop, .area-logo, .links-info, .links-user {
    display: flex;
  }
  .menu-desktop {
    justify-content: space-between;
  }
  .menu-mobile {
    display: none;
  }
}


