* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

$color-primary: #2DD0CF;
$color-secondary: #2A2341;
$color-text: #232027;
$color-support-1: #F0F1F6;
$color-support-2: #ACACAE;

body {
  background-color: $color-secondary;
}

